.main_value,
.sub_value {
  display: flex;
  align-items: center;
}

.main_value p,
.sub_value p {
  margin: 0 5px;
}

.main_value p:first-child {
  font-size: xx-large;
  color: red;
}

@media screen and (max-width: 768px) {
  .value_container .main_value {
    margin-bottom: 10px;
    justify-content: center;
  }
  .value_container .main_value p {
    font-size: medium;
  }
  .value_container .sub_value {
    justify-content: center;
  }
}
