.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  margin: 0 1px;
  background-color: rgb(138, 114, 114);
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.wrapper a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: small;
  line-height: 50px;
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  .button_container p {
    min-width: 40px;
    margin-right: 5px;
    font-size: small;
  }
}
