.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin-bottom: 10px;
}

.button_container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.button_container p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 50px;
  padding: 5px;
  margin: 0 1px;
  background-color: gray;
  margin-right: 10px;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .button_container p {
    min-width: 40px;
    margin-right: 5px;
    font-size: small;
  }
}
