.wrapper {
  display: flex;
}

.button_container {
  border-radius: 5px;
}

.wrapper button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 50px;
  margin: 0 2px;
  background-color: gray;
  border: none;
  background-color: #54a106;
  cursor: pointer;
  border-radius: 3px;
}

.wrapper button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.wrapper .active {
  background-color: rgb(231, 178, 98);
}

@media screen and (max-width: 768px) {
  .wrapper button {
    max-width: 40px;
  }
  .wrapper button a {
    font-size: small;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
