.wrapper {
  width: 100%;
  height: 100%;
  margin: 80px auto 0 auto;
  padding: 50px;
  max-width: 1024px;
  user-select: none;
}

.sub_wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .sub_wrapper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
